<h2 class="bg-dark text-white">Bienvenue sur l'almanach des chômeurs</h2>
<div class = "background-page">
    <div class= "black-background">
        <div class = "accueil">

            <h4>Le Bestiaire</h4>
            <p>Depuis la Conjonction des Sphères, les monstres et autres créatures se sont mis à peupler ce monde. Insectes gigantesques, créatures hybrides mêlant plusieurs races, éléments prenant littéralement vie, êtres nés d'une malédiction, spectres rattachés au monde des vivants... Ils sont nombreux, multiples, certains représentant une nuisance pour tous les humains et non-humains, d'autres pacifiques ou cherchant, simplement, à remettre sur le droit chemin les âmes en perdition.</p>
        </div>
    </div>
</div>

